@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  scroll-behavior: smooth !important;
  background-color: #121212; /* 使用黑色背景符合黑神话的主题 */
  color: #e0e0e0; /* 调整文本颜色，使其在深色背景下更易读 */
}

progress::-webkit-progress-value {
  transition: 0.6s width ease-out;
}

@layer base {
  .bg-gradient {
    @apply bg-gradient-to-r from-purple-400 via-pink-500 to-red-500; /* Define the gradient background */
  }

  .btn-gradient {
    @apply bg-gradient bg-[length:300%_300%] hover:saturate-[1.2] shadow duration-100 border-0 border-transparent bg-transparent animate-shimmer disabled:bg-none disabled:bg-gray-500/30 text-white;
  }

  .btn {
    @apply capitalize;
  }
}
